# binaries
bin
*.bin

# build
build

# ANLTR generated
.antlr
gen
antlr4_runtime

# CMAKE
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
*Makefile
*.cbp
cmake-build*/
Temporary
CTestTestfile.cmake
DartConfiguration.tcl

# temp files
*.*~

# in progress
setup/
getting-started.md
testing/working
testing/valid_tests
testing/invalid_tests
include/Symbols

# vscode
compile_commands.json
.vscode/

.DS_STORE